<!DOCTYPE html>
<html ng-app="plunker">
<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="../../src/_vendor/angular/angular.min.js"></script>
    <script src="../../dist/oDirectives.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="row" ng-controller="MainCtrl as ctrl1">
        <div class="col-xs-8 col-xs-push-2">
            <div class="panel panel-default">
                <div class="panel-heading">Form</div>
                <div class="panel-body">
                    <form o-validate-with errors="ctrl1.errors">
                        <!-- LOOK: THIS HERE -->
                        <div o-validation-message-for=""></div>
                        <div class="form-group" o-validation-message-for="firstName">
                            <!-- LOOK: THIS HERE -->
                            <label>Name:</label>
                            <input type="text" class="form-control" ng-model="ctrl1.name" />
                        </div>
                        <div class="form-group" o-validation-message-for="lastName">
                            <!-- LOOK: THIS HERE -->
                            <label>Last Name:</label>
                            <input type="text" class="form-control" ng-model="ctrl1.lastName" />
                        </div>
                        <a class="btn btn-primary" ng-click="ctrl1.submit()">{{ctrl1.action}}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
