<pre>{{ctrl.state|json}}</pre>
<div class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
        <div class="span6 pull-left">
            <div class="dataTables_length">
                <label>
                    Show
                    <select size="1" ng-model="ctrl.state.linesPerPage">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    entries
                </label>
            </div>
        </div>
        <div class="span6 pull-right">
            <div class="dataTables_filter">
                <label>
                    Search:
                    <input type="text" ng-model="ctrl.state.allSearch">
                </label>
            </div>
        </div>
    </div>

    <table class="table table-striped dataTable">
        <thead>
            <tr role="row"></tr>
        </thead>

        <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr ng-repeat="row in ctrl.data">
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="span6 pull-left">
            <div class="dataTables_info" id="user-table_info">Showing {{ctrl.state.startIdx + 1}} to {{ctrl.state.startIdx + ctrl.data.length}} of {{ctrl.state.iTotalRecords}} entries</div>
        </div>

        <div class="span6 pull-right">
            <div class="dataTables_paginate paging_bootstrap">
                <pagination total-items="ctrl.state.iTotalDisplayRecords" ng-model="ctrl.state.currentPage"></pagination>
            </div>
        </div>
    </div>
</div>
